<div>
  <h1>Welcome to: {{ title }}</h1>
  <p>Vamos a aprender Angular juntos</p>

  <nav>
    <a [routerLink]= "['/home']" [routerLinkActive]="['active']">Home</a>
    &nbsp;
    <a [routerLink]= "['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a>
    &nbsp;
    <a [routerLink]= "['/cursos']" [routerLinkActive]="['active']">Cursos</a>
    &nbsp;
    <a [routerLink]= "['/videojuego']" [routerLinkActive]="['active']">Videojuego</a>
    &nbsp;
    <a [routerLink]= "['/externo']" [routerLinkActive]="['active']">Externo</a>
  </nav>

  <hr>
  
  <!-- 
  <button (click)= "ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">Ocultar</button>
  <button (click)= "ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">Mostrar</button>

  <videojuego *ngIf="mostrar_videojuegos"></videojuego>
  <cursos></cursos>
   -->
   <!-- <zapatillas></zapatillas> -->

   <router-outlet></router-outlet>
</div>