<!-- <p>home works!</p> -->
<h2>Pagina principal</h2>

<div *ngIf= "identificado; then siIdentificado else noIdentificado">
<!-- <div *ngIf= "identificado; else noIdentificado"> before implementing 'then' -->
    <!-- <h3>Estas identificado en la app.</h3>
    <button (click)="unsetIdentificado()">Borrar identificacion</button> before implementing 'then' -->
</div>

<ng-template #noIdentificado>
    <p>No estas identificado, pulsa este boton para identificarte</p>
    <button (click)="setIdentificado()">Identificarse</button>
</ng-template>

<ng-template #siIdentificado>
    <h3>Estas identificado en la app.</h3>
    <button (click)="unsetIdentificado()">Borrar identificacion</button>
</ng-template>