<h1>Componente de cursos.
</h1>

<button (click)="redirigir()">Llevame a Zapatillas</button>

<h3
    *ngIf="nombre">Bienvenido {{nombre}}
</h3>
<h3
    *ngIf="followers">Tus seguidores son: {{followers}}
</h3>