body{
    background: url('../img/cielo.jpg');
    background-attachment: fixed; /*the image doesn't move when scroll*/
}

#logo{    
    background: #1f87c4;
}

#menu ul li:hover{
    background: #1f87c4;
}

.button-more{    
    background: #1f87c4;    
}