body{
    background: url('../img/hojas.jpg');
    background-attachment: fixed; /*the image doesn't move when scroll*/
}

#logo{    
    background: #235e3d;
}

#menu ul li:hover{
    background: #235e3d;
}

.button-more{    
    background: #235e3d;    
}