<!-- <h2>Componente de Videojuegos</h2> -->
<h2>{{titulo}}</h2>
<p>{{listado}}</p>

<button (click)= "cambiarTitulo()">Cambiar titulo</button>
<ul>
    <li>GTA</li>
    <li>Prince of Persia</li>
    <li>Tekken</li>
    <li>Mario</li>
    <li>sudoku</li>
</ul>
