<h2>{{titulo}}</h2>

<p>Agregar marca</p>
<p>
    <!-- <input type="text" [(ngModel)]= "mi_marca" (blur)="onBlur()"/> -->
    <input type="text" [(ngModel)]= "mi_marca" (keyup.enter)="mostrarPalabra()"/>
    <button (click)= "getMarca()">Mostrar marca</button>
    <button (click)= "addMarca()">Agregar marca</button>
</p>
<strong>{{mi_marca}}</strong>

<p>Compra las zapatillas de las mejores marcas.</p>
<ul>
    <li *ngFor="let any of marcas; let indexOfAny = index">
        {{indexOfAny + ' ' + any}}
        <button (click)= "borrarMarca(indexOfAny)">Borrar</button>
    </li>
</ul>

<p>Las deportivas que tenemos disponibles son:</p>
<ul>
    <li *ngFor="let any of zapatillas">

        <span [ngStyle]="{
                            'text-decoration': !any.stock ? 'line-through' : 'none'
                         }">
                        {{any.nombre}} - 
                        <!-- <strong 
                            [class.altoPrecio]="any.precio >=80"
                            [ngClass]="['fondoRojo', 'subrayado']" alternative 1.
                            class="fondoRojo subrayado"            alternative 2.
                        >
                            ${{any.precio}}
                        </strong> -->
                        <!-- better approach -->
                        <strong 
                            [class.altoPrecio]="any.precio >=80"
                            [ngClass]="{
                                'fondoRojo' : any.precio > 100,
                                'subrayado' : any.marca == 'nike'
                            }"                            
                        >
                            ${{any.precio}}
                        </strong>
        </span>
        <span *ngIf="any.precio < 80"
                    [style.background]="any.precio < 80 ? 'green' : 'transparent'"
                    [style.color]="any.precio < 80 ? 'white' : 'black'"                    
                    >En oferta!</span>
    </li>
</ul>

<p>El color de la mayoria de nuestras zapatillas es:</p>
<input type="text" [(ngModel)]="color"/>
<ul [ngSwitch] = "color">
    <li *ngSwitchCase = "'yellow'">
        <!-- El color predominante es el <span style="background:yellow;">amarillo</span>. Alternative 1 -->
        El color predominante es el <span [ngStyle]= "{'background': color}">amarillo</span>.
    </li>
    <li *ngSwitchCase = "'red'">
        El color predominante es el <span [ngStyle]= "{'background': color}">rojo</span>.
    </li>
    <li *ngSwitchCase = "'blue'">
        El color predominante es el <span [ngStyle]= "{'background': color}">azul</span>.
    </li>
    <li *ngSwitchCase = "'orange'">
        El color predominante es el <span [ngStyle]= "{'background': color}">naranja</span>.
    </li>
</ul>