{{fecha | date:'fullDate' | uppercase}} <br/>
{{fecha | date:'dd/MM/yy'}} <br/>
{{'HELLO WORLD USING PIPES' | lowercase}}

<hr>
<input type="text" [(ngModel)]="userId" (keyup.enter)="cargaUsuario()" />

<div *ngIf="!user">
    Cargando.....
</div>

<div *ngIf="user">
    <img src="{{user.data.avatar}}" width="200px"/>
    <h2>{{user.data.first_name + ' ' + user.data.last_name}}</h2>
</div>